@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  display: flex;
  background-color: #272727;
}
.container {
  height: 100vh;
}
.navbar {
  display: flex;
  align-items: center;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 30px 10px;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  transition: all 0.3s ease;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  list-style: none;
}

.nav-links li {
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
}
.active {
  background-color: #e3e9f7;
}
.nav-links li:hover:not(.active) {
  background-color: #f5f5f5;
}
.nav-links li a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-links .active a {
  color: #0f0f0f;
}

.nav-links li a i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 18px;
}
.nav-btn {
  position: absolute;
  top: 20px;
  right: -20px;
  background: transparent;
  border: none;
  cursor: pointer;
  background-color: teal;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.nav-btn i {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.container_main {
  flex: 1;
}
.home_contato {
  position: absolute;
  top: 5%;
  left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.home_contato h1 {
  color: #fff;

  padding-bottom: 10px;
}
.home_contato ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
}
.home_contato i {
  color: #fff;
  font-size: 1.5rem;
}
.home {
  position: relative;
  padding: 0 !important;
}
.home_info {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
}

.home_info p {
  text-align: center;
  max-width: 600px;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 600;
  color: #fff;
}
.home_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.sobre {
  position: relative;
}

.sobre_info {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.sobre_info h1 {
  width: 100%;
  font-size: 5rem;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
}
.sobre_info p {
  text-align: left;
  max-width: 100%;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 600;
  color: #fff;
  padding-left: 30px;
}
.sobre_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.tecnologia {
  position: relative;
}
.tecnologia_info {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 0 auto;
}

.tecnologia_info h1 {
  color: #fff;
  font-size: 5rem;
  padding-bottom: 10px;
}
.tecnologia_container {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
}
.tecnologia_container div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}
.tecnologia_img {
  width: 100%;
}

.shadow {
  box-shadow: 0 0 10px #fff;
}

/* =========PROJETOS====== */
.projeto {
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px #fff;
}

.projeto_info {
  margin-top: 24px;
  width: 100%;
}
.projeto_info h1 {
  color: #fff;
  font-size: 5rem;
  padding-bottom: 10px;
  text-align: center;
}
.projeto_info p {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
}
.projeto_container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.projeto_content {
  width: 100%;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding-bottom: 20px;
  justify-content: center;
}
.projeto_card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
}
.projeto_card img {
  border-radius: 5px;
}
.projeto_card h2 {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  margin-top: 5px;
}
.projeto_card p {
  color: #fff;
  font-size: 1rem;
}
.projeto_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tecnologia_projeto {
  width: 100%;
  max-width: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tecnologia_projeto p {
  padding-bottom: 2px !important;
}
.tecnologia_projeto ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  gap: 5px;
}
.tecnologia_projeto li {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
.tecnologia_projeto img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}
.projeto_links {
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.projeto_links a {
  flex: 1;
  color: #000;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 0;
}
/* =========FOOTER====== */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px !important;
  padding: 20px;
  background-color: rgb(39, 39, 39);
}
.footer_info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.footer_info h2 {
  color: #fff;
  text-align: center;
}
.footer_info ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
}
.footer_info i {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

/* RESPONSIVIDADE */

@media (max-width: 1000px) {
  .tecnologia_img_container {
    width: 100% !important;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
@media (max-width: 900px) {
  .navbar {
    padding-top: 50px;
    overflow: hidden;
    width: 60px;
  }
  .logo {
    display: none;
  }
  .nav-links {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-links li a {
    flex-direction: column;
    gap: 10px;
  }
  span {
    font-size: 0.5rem;
    font-weight: 700;
  }
  .container {
    justify-content: flex-start;
    flex-direction: column;
  }

  .home_info p {
    text-align: center;
    max-width: 600px;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 600;
  }
  .sobre_info {
    padding: 10px;
  }
  .sobre_info h1 {
    font-size: 3rem;
    margin-bottom: 30px;
  }
  .sobre_info p {
    font-size: 1rem;
  }
  .projeto_container {
    flex-wrap: wrap;
  }
  .projeto_info h1 {
    font-size: 2rem;
  }
  .projeto_info p {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .navbar {
    padding-top: 50px;
  }

  .home_info p {
    text-align: center;
    max-width: 300px;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 600;
  }
  .sobre_info h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  .sobre_info p {
    text-align: center;
    max-width: 300px;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 600;
  }
  .tecnologia_info h1 {
    font-size: 3rem;
  }
  .tecnologia_container div {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
  .projeto_card img {
    width: 100%;
  }
  .tecnologia_projeto img {
    width: 30px;
    height: 30px;
  }
}
